body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    display: flex;
}

.sidebar {
    width: 260px;
    height: 100vh;
    background: #111827;
    padding: 20px;
    position: fixed;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 12px;
    background: #1e293b;
    border-radius: 10px;
    margin-bottom: 12px;
}

.sidebar a:hover {
    background: #334155;
}

.content {
    margin-left: 300px;
    padding: 40px;
    width: 100%;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}